<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Santa's Deputies</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="style.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-tree"></span> Santa's Deputies</h1>

        <p>Login or Register with:</p>
        <div class="signinrow">
            <div class="col-sm-3">
                <a href="/auth/google"><div class="google-sign"></div></a>
            </div>
            <!--<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>-->
            <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
        </div>
    </div>

</div>
<div id="reindeer"><img src="reindeer.svg"/></div>
<script src="../public/js/script.js"></script>
</body>
</html>