<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Santa's Deputies Results</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="style.css">
    <!--<script src="http://requirejs.org/docs/release/2.1.20/minified/require.js"></script>-->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body onload="getNames()">
<div class="container">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-3"><img src="snowman.png"><figcaption id="welcomename"><%= user.google.name %></figcaption></div>
                <div class="col-sm-4"><h3>Here is your Giftee:</h3></div>
                <div class="col-sm-3"><img src="reindeer.png"><figcaption id="mikename">here is your pick?</figcaption></div>
            </div>
        </div>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-3"><img src="fruitcake.png"><figcaption id="jenname">Jennifer Teagle</figcaption></div>
            <div class="col-sm-4"><h3>Here is your Giftee:</h3></div>
            <div class="col-sm-3"><img src="holly.png"><figcaption id="jname">here is your pick?</figcaption></div>
</div>
</div>
<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-3"><img src="reindeer.png"><figcaption id="madiname">Madison Teagle</figcaption></div>
        <div class="col-sm-4"><h3>Here is your Giftee:</h3></div>
        <div class="col-sm-3"><img src="snowflake.png"><figcaption id="mname">here is your pick?</figcaption></div>
    </div>
</div>
    <div class="jumbotron text-center">
        <div id="alishaname">Alisha LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="aname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-3"><img src="bells.png"><figcaption id="brianname">Brian LeBaron</figcaption></div>
                <div class="col-sm-4"><h3>Here is your Giftee:</h3></div>
                <div class="col-sm-3"><img src="stocking.png"><figcaption id="bname">here is your pick</figcaption></div>

                </div>
    </div>
    <div class="jumbotron text-center">
        <div id="annikaname">Annika LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="anname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="adyname">Adalyn LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="adname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="averyname">Avery LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="avname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="alliname">Allison Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="alname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="jordanname">Jordan Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="jorname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="vanessaname">Vanessa Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="vname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="jedname">Jed Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="jename">here is your pick?</div>
    </div>
    <!--<div class="jumbotron text-center">-->
        <!--<div id="austinname">Austin Jarrett</div>-->
        <!--<h3>Here is your Giftee:</h3>-->
        <!--<div id="auname">here is your pick?</div>-->
    <!--</div>-->
</div>
<!--<script src="script.js"></script>-->
<script>
    var names = ["Vanessa", "Annika", "Ady", "Mike", "Jen", "Alli", "Jordan", "Avery", "Madison", "Jed", "Alisha", "Brian"];
    function setName(name, lastYear, spouse, dad, mom, giftee, child1, child2, child3 ) {
        this.name = name;
        this.lastYear = lastYear;
        this.spouse = spouse;
        this.giftee = function () {
            var namesfilter = names.filter(function(n){ return (n != name && n != child1 && n != spouse && n != mom && n != dad && n != lastYear) && n != child2 && n != child3 && n != undefined});
            var finale = namesfilter[0];
            if (finale == 'undefined') {
                finale = namesfilter[5];
            }
            for (var i = names.length - 1; i >= 0; i--) {
                if (names[i] === finale) {
                    names.splice(i, 1);
                }
            }
            return finale;
        };
        this.child1 = child1;
        this.child2 = child2;
        this.child3 = child3;
    }
    function getNames () {
        restore();
        var theLength = names.length - 1;
        var toSwap; // The index we will swap  (i.e. the random number)
        var temp; // A temporary variable to hold reference to index variable i points to
        for (var i = theLength; i > 0; i--) {
            toSwap = Math.floor(Math.random() * names.length);
            temp = names[i];
            names[i] = names[toSwap];
            names[toSwap] = temp;
        }

        document.getElementById("avname").innerHTML = localStorage.getItem("avery");
        var mike = new setName('Mike', 'Annika', 'Jen', '', '', '', 'Madison', '', '');
        localStorage.setItem("mike", mike.giftee());
        document.getElementById("mikename").innerHTML = localStorage.getItem("mike");
        var jen = new setName('Jen', 'Vanessa', 'Mike', '', '', '', 'Madison', '', '');
        localStorage.setItem("jen", jen.giftee());
        document.getElementById("jname").innerHTML = localStorage.getItem("jen");
        var madison = new setName('Madison', 'Avery', 'Mike', 'Jen', '', '', '', '');
        localStorage.setItem("madison", madison.giftee());
        document.getElementById("mname").innerHTML = localStorage.getItem("madison");
        var alli = new setName('Alli', 'Jordan', '', '', '', '', '', '', '');
        localStorage.setItem("alli", alli.giftee());
        document.getElementById("alname").innerHTML = localStorage.getItem("alli");
        var jordan = new setName('Jordan', 'Alisha', 'Vanessa', '', '', '', 'Jed', '', '');
        localStorage.setItem("jordan", jordan.giftee());
        document.getElementById("jorname").innerHTML = localStorage.getItem("jordan");
        var vanessa = new setName('Vanessa', 'Brian', 'Jordan', '', '', '', 'Jed', '', '');
        localStorage.setItem("vanessa", vanessa.giftee());
        document.getElementById("vname").innerHTML = localStorage.getItem("vanessa");
        var jed = new setName('Jed', 'Madison', '', 'Jordan', 'Vanessa', '', '', '', '');
        localStorage.setItem("jed", jed.giftee());
        document.getElementById("jename").innerHTML = localStorage.getItem("jed");
        var alisha = new setName('Alisha', 'Austin', 'Brian', '', '', '', 'Annika', 'Ady', 'Avery');
        localStorage.setItem("alisha", alisha.giftee());
        document.getElementById("aname").innerHTML = localStorage.getItem("alisha");
        var brian = new setName('Brian', 'Mike', 'Alisha', '', '', '', 'Annika', 'Ady', 'Avery');
        localStorage.setItem("brian", brian.giftee());
        document.getElementById("bname").innerHTML = localStorage.getItem("brian");
        var annika = new setName('Annika', 'Jen', '', 'Brian', 'Alisha', '', 'Ady', 'Avery', '');
        localStorage.setItem("annika", annika.giftee());
        document.getElementById("anname").innerHTML = localStorage.getItem("annika");
        var ady = new setName('Ady', 'Alli', '', 'Brian', 'Alisha', '', 'Annika', 'Avery', '');
        localStorage.setItem("ady", ady.giftee());
        document.getElementById("adname").innerHTML = localStorage.getItem("ady");
        var avery = new setName('Avery', 'Jed', '', 'Brian', 'Alisha', '', 'Annika', 'Ady', '');
        localStorage.setItem("avery", avery.giftee());
        //  var austin = new setName('Austin', 'Ady', '', '', '', '', '', '', '');
        //  document.getElementById("auname").innerHTML = austin.giftee();
    }
    function restore () {
        if(!localStorage["alisha"]) {
            return;
        }
        alisha = localStorage.getItem("alisha");
        brian = localStorage.getItem("brian");
        jen = localStorage.getItem("jen");
        mike = localStorage.getItem("mike");
        madison = localStorage.getItem("madison");
        annika = localStorage.getItem("annika");
        ady = localStorage.getItem("ady");
        avery = localStorage.getItem("avery");
        alli = localStorage.getItem("alli");
        jordan = localStorage.getItem("jordan");
        vanessa = localStorage.getItem("vanessa");
        jed = localStorage.getItem("jed");
        document.getElementById("aname").innerHTML = localStorage.getItem("alisha");
        document.getElementById("bname").innerHTML = localStorage.getItem("brian");
        document.getElementById("anname").innerHTML = localStorage.getItem("annika");
        document.getElementById("avname").innerHTML = localStorage.getItem("avery");
        document.getElementById("adname").innerHTML = localStorage.getItem("ady");
        document.getElementById("alname").innerHTML = localStorage.getItem("alli");
        document.getElementById("mikename").innerHTML = localStorage.getItem("mike");
        document.getElementById("jname").innerHTML = localStorage.getItem("jen");
        document.getElementById("mname").innerHTML = localStorage.getItem("madison");
        document.getElementById("jorname").innerHTML = localStorage.getItem("jordan");
        document.getElementById("vname").innerHTML = localStorage.getItem("vanessa");
        document.getElementById("jename").innerHTML = localStorage.getItem("jed");
    }
</script>
</body>
</html>
