<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Santa's Deputies Results</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="style.css">
    <!--<script src="http://requirejs.org/docs/release/2.1.20/minified/require.js"></script>-->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body onload="getNames()">
<div class="container">
    <div class="jumbotron text-center">
            <div id="allnames">these are all of our names</div>
            <div id="welcomename"><%= user.google.name %></div>
            <h3>Here is your Giftee:</h3>
            <div id="mikename">here is your pick?</div>
        </div>
    <div class="jumbotron text-center">
        <div id="jenname">Jennifer Teagle</div>
        <h3>Here is your Giftee:</h3>
        <div id="jname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="madiname">Madison Teagle</div>
        <h3>Here is your Giftee:</h3>
        <div id="mname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="alishaname">Alisha LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="aname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="brianname">Brian LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="bname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="annikaname">Annika LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="anname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="adyname">Adalyn LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="adname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="averyname">Avery LeBaron</div>
        <h3>Here is your Giftee:</h3>
        <div id="avname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="alliname">Allison Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="alname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="jordanname">Jordan Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="jorname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="vanessaname">Vanessa Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="vname">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="jedname">Jed Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="jename">here is your pick?</div>
    </div>
    <div class="jumbotron text-center">
        <div id="austinname">Austin Jarrett</div>
        <h3>Here is your Giftee:</h3>
        <div id="auname">here is your pick?</div>
    </div>
</div>
<!--<script src="script.js"></script>-->
<script>
    function getNames () {
        var names = ["Alisha", "Brian", "Mike", "Jen", "Alli", "Jordan", "Vanessa", "Austin", "Annika", "Ady", "Avery", "Madison", "Jed"];
        var kids = ["Annika", "Ady", "Avery", "Madison", "Jed"];

        function setName(name, lastYear, spouse, dad, mom, giftee, child1, child2, child3 ) {
            this.name = name;
            this.lastYear = lastYear;
            this.spouse = spouse;
            this.giftee = function () {
                var namesfiltername = names.filter(function(n){ return (n != name && n != child1 && n != spouse && n != mom && n != dad && n != lastYear) && n != child2 && n != child3 });
                var namesfinal = namesfiltername.filter(function(n){ return n != undefined});
                var finale = namesfinal[Math.floor(Math.random() * namesfinal.length)];
                for (var i = names.length - 1; i >= 0; i--) {
                    if (names[i] === finale) {
                        names.splice(i, 1);
                    }
                }
                return finale;
            };
            this.child1 = child1;
            this.child2 = child2;
            this.child3 = child3;
        }
        var mike = new setName('Mike', 'Annika', 'Jen', '', '', '', 'Madison', '', '');
        document.getElementById("mikename").innerHTML = mike.giftee();
        document.getElementById("allnames").innerHTML = names;
        var jen = new setName('Jen', 'Vanessa', 'Mike', '', '', '', 'Madison', '', '');
        document.getElementById("jname").innerHTML = jen.giftee();
        document.getElementById("allnames").innerHTML = names;
        var madison = new setName('Madison', 'Avery', 'Mike', 'Jen', '', '', '', '');
        document.getElementById("mname").innerHTML = madison.giftee();
        document.getElementById("allnames").innerHTML = names;
        var alisha = new setName('Alisha', 'Austin', 'Brian', '', '', '', 'Annika', 'Ady', 'Avery');
        document.getElementById("aname").innerHTML = alisha.giftee();
        document.getElementById("allnames").innerHTML = names;
        var brian = new setName('Brian', 'Mike', 'Alisha', '', '', '', 'Annika', 'Ady', 'Avery');
        document.getElementById("bname").innerHTML = brian.giftee();
        document.getElementById("allnames").innerHTML = names;
        var annika = new setName('Annika', 'Jen', '', 'Brian', 'Alisha', '', 'Ady', 'Avery', '');
        document.getElementById("anname").innerHTML = annika.giftee();
        document.getElementById("allnames").innerHTML = names;
        var ady = new setName('Ady', 'Alli', '', 'Brian', 'Alisha', '', 'Annika', 'Avery', '');
        document.getElementById("adname").innerHTML = ady.giftee();
        document.getElementById("allnames").innerHTML = names;
        var avery = new setName('Avery', 'Jed', '', 'Brian', 'Alisha', '', 'Annika', 'Ady', '');
        document.getElementById("avname").innerHTML = avery.giftee();
        document.getElementById("allnames").innerHTML = names;
        var alli = new setName('Alli', 'Jordan', '', '', '', '', '', '', '');
        document.getElementById("alname").innerHTML = alli.giftee();
        document.getElementById("allnames").innerHTML = names;
        var jordan = new setName('Jordan', 'Alisha', 'Vanessa', '', '', '', 'Jed', '', '');
        document.getElementById("joname").innerHTML = jordan.giftee();
        document.getElementById("allnames").innerHTML = names;
        var vanessa = new setName('Vanessa', 'Brian', 'Jordan', '', '', '', 'Jed', '', '');
        document.getElementById("vname").innerHTML = vanessa.giftee();
        document.getElementById("allnames").innerHTML = names;
        var jed = new setName('Jed', 'Madison', '', 'Jordan', 'Vanessa', '', '', '', '');
        document.getElementById("jename").innerHTML = jed.giftee();
        document.getElementById("allnames").innerHTML = names;
        var austin = new setName('Austin', 'Ady', '', '', '', '', '', '', '');
        document.getElementById("auname").innerHTML = austin.giftee();
        document.getElementById("allnames").innerHTML = names;

    }
</script>
</body>
</html>
